{% extends "basic.html" %}
{% block content_basic %}
    <!-- Header -->
    <div class="jumbotron jumbotron-fluid bg-dark" style="height: 80px; padding-top: 10px; padding-bottom: 10px; margin-bottom: 0px;">
      <div class="container media align-self-center">
        <a href="{{url_for('index')}}" class="media" style="text-decoration: none;">
          <span class="mr-3" style="font-size: 40px; color: white;">
            <i class="fas fa-satellite"></i>
          </span>
          <div class="media-body align-self-center">
            <h2 class="mt-0" style="color: white;">Onsimini</h2>
          </div>
        </a>
        <div class="col"></div>
        <a href="https://github.com/onsimini" class="media align-self-center">
          <span style="font-size: 25px; color: white; margin-right: 10px;">
            <i class="fab fa-github"></i>
          </span>
        </a>
        <a href="https://bitbucket.org/onsimini" class="media align-self-center">
          <span style="font-size: 25px; color: white; margin-right: 10px;">
            <i class="fab fa-bitbucket"></i>
          </span>
        </a>
        <a href="https://www.instagram.com/onsimini/" class="media align-self-center">
          <span style="font-size: 25px; color: white;">
            <i class="fab fa-instagram"></i>
          </span>
        </a>
      </div>
    </div>

    {% block content_layout %}{% endblock %}

    <!-- FOOTER -->
    <div class="jumbotron jumbotron-fluid bg-dark" style="height: 80px; padding-top: 20px; padding-bottom: 10px; margin-bottom: 0px;">
      <div class="container media">
        <div class="media-body">
          <h6 class="mt-0 text-center" style="color: white;">Onsimini by Gontran SION - ©2021</h6>
        </div>
      </div>
    </div>

{% endblock content_basic %}