{% extends "blog/layout.html" %}

{% block content_layout %}

<div class="jumbotron jumbotron-fluid" style="margin: 0px 0px 20px 0px;">
    <div class="container">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">Here is my first website implementation with Flask and Bootstrap.</p>
    </div>
  </div>
  
<main role="main" class="container" style="min-height: 550px;">
    <div class="row">
      <div class="col-md-8">

        {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">

            <h2 style="margin: 20px 0px 0px 0px;"><a class="article-title" href="#">{{ post.title }}</a></h2>

            <div class="article-metadata">
                <a class="mr-2">{{ post.author }}</a>
                <small class="text-muted">{{ post.date }}</small>
            </div>

            <div class="article-content" style="margin: 5px 0px 0px 0px;">{{ post.content|safe }}</div>

        </div>
        </article>
        {% endfor %}

      </div>
    </div>
  </main>

{% endblock content_layout %}
